.popup__container {
  width: 100%;
  max-width: 430px;
  margin: auto 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 660px) {
  .popup__container {
    max-width: 282px;
  }
}