.popup__form {
  max-width: 358px;
  margin: 43px auto 37px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 660px) {
  .popup__form {
    max-width: 238px;
    margin: 44px auto 25px;
  }
}