.info {
  max-width: 336px;
  max-height: 73px;
  margin: 22px auto 25px 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
  .info {
    max-width: 282px;
    max-height: 54px;
    margin: 0 auto;
  }
}