.popup__btn-close {
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background: url('../../../images/close-icon.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.popup__btn-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .popup__btn-close {
    min-width: 20px;
    min-height: 20px;
    top: -36px;
    right: 0;
  }
}